*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
h2{
    color: brown;
}

.l1{
    color: rgb(31, 26, 2);
    font-weight: 800;
    float: right;
    text-indent: 2ch;
}

.nav_head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

